@model EntityLayer.Concrete.About
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("Index", "About", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-header" style="text-align:center">Hakkımda Düzenleme Paneli</p>
                <form class="forms-sample">

                    @Html.HiddenFor(x => x.AboutID)
                    <br />
                    @Html.Label("Başlık")
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", style = "color:yellow" })
                    @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })

                    @Html.Label("Açıklama")
                    @Html.TextAreaFor(x => x.Description, 2, 3, new { @class = "form-control", style = "color:yellow" })
                    @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })

                    @Html.Label("Yaş")
                    @Html.TextBoxFor(x => x.Age, new { @class = "form-control", style = "color:yellow", type = "number", min = "7", max = "100" })
                    @Html.ValidationMessageFor(x => x.Age, "", new { @class = "text-danger" })

                    @Html.Label("Mail")
                    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", style = "color:yellow", type = "email" })
                    @Html.ValidationMessageFor(x => x.Mail, "", new { @class = "text-danger" })

                    @Html.Label("Telefon")
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", style = "color:yellow", type = "phone" })
                    @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })

                    @Html.Label("Adress")
                    @Html.TextAreaFor(x => x.Address, 5, 3, new { @class = "form-control", style = "color:yellow" })
                    @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })

                    @Html.Label("ImageUrl")
                    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control", style = "color:yellow" })
                    @Html.ValidationMessageFor(x => x.ImageUrl, "", new { @class = "text-danger" })

                    <br />

                    <button class="btn btn-outline-warning">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
}

@*@using (Html.BeginForm("Index", "About", FormMethod.Post))
    {
        <form class="form-group" method="post">

            @Html.HiddenFor(x => x.AboutID)
            <br />
            @Html.Label("Başlık")
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", style = "color:yellow" })
            @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })

            @Html.Label("Açıklama")
            @Html.TextAreaFor(x => x.Description, 2, 3, new { @class = "form-control", style = "color:yellow" })
            @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })

            @Html.Label("Yaş")
            @Html.TextBoxFor(x => x.Age, new { @class = "form-control", style = "color:yellow", type = "number", min = "7", max = "100" })
            @Html.ValidationMessageFor(x => x.Age, "", new { @class = "text-danger" })

            @Html.Label("Mail")
            @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", style = "color:yellow", type = "email" })
            @Html.ValidationMessageFor(x => x.Mail, "", new { @class = "text-danger" })

            @Html.Label("Telefon")
            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", style = "color:yellow", type = "phone" })
            @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })

            @Html.Label("Adress")
            @Html.TextAreaFor(x => x.Address, 5, 3, new { @class = "form-control", style = "color:yellow" })
            @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })

            @Html.Label("ImageUrl")
            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control", style = "color:yellow" })
            @Html.ValidationMessageFor(x => x.ImageUrl, "", new { @class = "text-danger" })

            <br />

            <button class="btn btn-outline-warning">Güncelle</button>
        </form>
    }*@

