@using EntityLayer.Concrete
@model List<WriterMessage>
<div class="col-md-6 col-xl-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <h4 class="card-title">Mesajlar</h4>
                <p class="btn btn-outline-warning btn-sm"> <a href="/AdminMessage/ReceiverMessageList/" style="color:gray" class="btn btn-outline-white btn-sm">Tümünü Görüntüle</a></p>
                @*<a href="/AdminMessage/ReceiverMessageList/" class="btn btn-outline-dribbble btn-fw">Tümünü Görüntüle</a>*@

            </div>
            @foreach (var item in Model)
            {
                <div class="preview-list">
                    <div class="preview-item border-bottom">
                        @*<div class="preview-thumbnail">
                            <img src="@item." alt="image" class="rounded-circle" />
                        </div>*@
                        <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                                <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                    <h6 class="preview-subject">@item.Subject</h6>
                                    <p class="text-muted text-small">@(((DateTime)item.Date).ToString("dd.MM.yyyy"))</p>
                                </div>
                                @if (item.MessageContent.Length > 50)
                                {
                                    <p class="text-muted">@item.MessageContent.Substring(0, 50)...</p>
                                }
                                else
                                {
                                    <p class="text-muted">@item.MessageContent.Substring(0, item.MessageContent.Length)...</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>